Tugas J.son/Tugas 3 Implementasi AI Pemasaran.json
{
  "name": "Tugas 3 Implementasi AI Pemasaran",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        576,
        304
      ],
      "id": "3644ff07-37bb-4ad5-bb76-40cbb928d22d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LiIYKSdtEhHx06O1m40fqLa5LI-FY4zD56aTJUNTx60",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LiIYKSdtEhHx06O1m40fqLa5LI-FY4zD56aTJUNTx60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1871969233,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LiIYKSdtEhHx06O1m40fqLa5LI-FY4zD56aTJUNTx60/edit#gid=1871969233"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        304
      ],
      "id": "040caae0-5d93-402e-a28c-ef30192c44fd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GxEFiAxejqi2qmb2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// Set zona waktu Jakarta\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  // Gunakan nama kolom persis seperti di Google Sheet\n  const dateStr = row['Scheduled Date'];\n  const timeStr = row['Scheduled Time'];\n\n  // Pastikan kolom terisi dan status Pending\n  if (row.Status === 'Pending' && dateStr && timeStr) {\n    \n    // PERBAIKAN DISINI:\n    // Gabungkan Tanggal dan Waktu menggunakan spasi\n    // Hasil: \"11/02/2026 9:30:00\"\n    const dateTimeString = `${dateStr} ${timeStr}`; \n    \n    // Parse waktu menggunakan fromFormat agar cocok dengan DD/MM/YYYY\n    const scheduledTime = DateTime.fromFormat(dateTimeString, 'dd/MM/yyyy H:mm:ss', { zone: 'Asia/Jakarta' });\n\n    // Cek validitas waktu & apakah sudah waktunya post\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    } else {\n      // Boleh di-uncomment untuk debugging kalau masih kosong\n      // console.log(`Waktu tidak valid atau belum waktunya. Valid: ${scheduledTime.isValid}`);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        304
      ],
      "id": "bd1a3200-58ce-424c-9027-3cefe4955a4f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "1433602326",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        304
      ],
      "id": "6fb4d1a3-599d-4d6e-b41f-46dceafd6bea",
      "name": "Send a text message",
      "webhookId": "58159957-4906-4fc5-b2a6-a1d63302b22f",
      "credentials": {
        "telegramApi": {
          "id": "bswwkAX6YitVs2QV",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "436bd92e-d27a-4ba0-af56-db23f2a58032",
              "name": "row_number",
              "value": "={{$('Code in JavaScript').item.json.row_number}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        304
      ],
      "id": "a2f32a8e-2876-4847-995c-18b07d85f8c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LiIYKSdtEhHx06O1m40fqLa5LI-FY4zD56aTJUNTx60",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LiIYKSdtEhHx06O1m40fqLa5LI-FY4zD56aTJUNTx60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1871969233,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LiIYKSdtEhHx06O1m40fqLa5LI-FY4zD56aTJUNTx60/edit#gid=1871969233"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Code in JavaScript').item.json.row_number }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        304
      ],
      "id": "9657a53d-0562-4d52-99c0-a987a2f853ae",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GxEFiAxejqi2qmb2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "0rUoi3zYIFcEV9Jw",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0bf095f4-3de7-4e5a-aa92-4cb3d05f2f85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5df06fd13290af2fa8e5429150de9f9c332b581c1019292577ff8c83814cbde"
  },
  "id": "0rUoi3zYIFcEV9Jw",
  "tags": []
}