Tugas J.son/Tugas 7 Implementasi ai keuangan.json
{
  "name": "Tugas 7 Implementasi ai keuangan",
  "nodes": [
    {
      "parameters": {
        "chatId": "1433602326",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        256
      ],
      "id": "244708fc-3589-4250-a9ef-d64c99e4f379",
      "name": "Send a text message",
      "webhookId": "20534d94-ee95-4cee-8344-bb7b9cefd6fc",
      "credentials": {
        "telegramApi": {
          "id": "bswwkAX6YitVs2QV",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        320
      ],
      "id": "31a65b13-e5fd-4e7e-ab01-6d7db1e5ef01",
      "name": "tiap 7am"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        0
      ],
      "id": "5cc35612-b9e9-439e-867a-136a9191b8d1",
      "name": "Tiap 15 menit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berdasarkan data sentimen crypto hari ini dari media berita:\n\nData BTC:\n- Total Berita: {{ $node[\"Edit Fields\"].json.BTC.total }}\n- Signal: {{ $node[\"Edit Fields\"].json.BTC.signal }}\n- Skor Rata-rata: {{ $node[\"Edit Fields\"].json.BTC.avg_compound }}\n\nData ETH:\n- Total Berita: {{ $node[\"Edit Fields\"].json.ETH.total }}\n- Signal: {{ $node[\"Edit Fields\"].json.ETH.signal }}\n- Skor Rata-rata: {{ $node[\"Edit Fields\"].json.ETH.avg_compound }}\n\nBerikan ringkasan singkat dalam 1 kalimat mengenai kondisi pasar crypto saat ini (apakah sedang optimis atau waspada).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -112,
        0
      ],
      "id": "62d6ce88-5336-411f-b322-ea0473ef7464",
      "name": "analislis sentimen"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EuVRW-5ClnX3dgXXKuCsDbwEPCbx9BCcNRfB4tFWRAc",
          "mode": "list",
          "cachedResultName": "Data dari edit field",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EuVRW-5ClnX3dgXXKuCsDbwEPCbx9BCcNRfB4tFWRAc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EuVRW-5ClnX3dgXXKuCsDbwEPCbx9BCcNRfB4tFWRAc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Tiap 15 menit').item.json.timestamp }}",
            "BTC Signal": "={{ $('Edit Fields').item.json.BTC.signal }}",
            "BTC Score": "={{ $('Edit Fields').item.json.BTC.total }}",
            "ETH Signal": "={{ $('Edit Fields').item.json.ETH.signal }}",
            "ETH Score": "={{ $('Edit Fields').item.json.ETH.total }}",
            "AI Summary": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BTC Signal",
              "displayName": "BTC Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BTC Score",
              "displayName": "BTC Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ETH Signal",
              "displayName": "ETH Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ETH Score",
              "displayName": "ETH Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        0
      ],
      "id": "04baa337-001a-49bd-8dce-67a548a8211e",
      "name": "Nambah hasil data ke seet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GxEFiAxejqi2qmb2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EuVRW-5ClnX3dgXXKuCsDbwEPCbx9BCcNRfB4tFWRAc",
          "mode": "list",
          "cachedResultName": "Data dari edit field",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EuVRW-5ClnX3dgXXKuCsDbwEPCbx9BCcNRfB4tFWRAc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EuVRW-5ClnX3dgXXKuCsDbwEPCbx9BCcNRfB4tFWRAc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        320
      ],
      "id": "b010348c-4217-49b2-9d28-26868da27407",
      "name": "baca data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GxEFiAxejqi2qmb2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari node sebelumnya secara otomatis\nconst items = $input.all();\n\nlet btc_neutral = 0;\nlet eth_neutral = 0;\nlet total_data = items.length;\n\n// Loop untuk menghitung sinyal berdasarkan kolom yang ada di sheet kamu\nfor (const item of items) {\n  if (item.json.BTC_Signal === 'NEUTRAL') btc_neutral++;\n  if (item.json.ETH_Signal === 'NEUTRAL') eth_neutral++;\n}\n\nreturn {\n  total_laporan: total_data,\n  btc_stats: {\n    neutral: btc_neutral,\n    avg_score: items[0].json.BTC_Score // Mengambil skor terbaru\n  },\n  eth_stats: {\n    neutral: eth_neutral,\n    avg_score: items[0].json.ETH_Score\n  },\n  ringkasan_ai: items[0].json.AI_Summary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        320
      ],
      "id": "97e1d9a6-f862-491a-9447-2648609a18e7",
      "name": "analisis data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis pasar kripto profesional. Buatlah laporan singkat untuk dikirim ke Telegram berdasarkan ringkasan data berikut:\n\n- Total Data Dianalisis: {{ $json.total_laporan }}\n- Status BTC Terbaru: {{ $json.btc_stats.neutral > 0 ? 'Stabil/Netral' : 'Bergejolak' }} (Skor: {{ $json.btc_stats.avg_score }})\n- Status ETH Terbaru: {{ $json.eth_stats.neutral > 0 ? 'Stabil/Netral' : 'Bergejolak' }} (Skor: {{ $json.eth_stats.avg_score }})\n\nAnalisis Tambahan:\n{{ $json.ringkasan_ai }}\n\nBuatlah laporan dalam 2-3 kalimat yang santai namun informatif untuk komunitas trader di Telegram.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        16,
        320
      ],
      "id": "8fd2d289-f701-40f5-b23e-8fe8009b73c0",
      "name": "Membuat kesimpulan"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"BTC\": {\n    \"total\": 92,\n    \"bullish\": 30,\n    \"bearish\": 35,\n    \"neutral\": 27,\n    \"avg_compound\": -0.04,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T10:34:34.904592\"\n  },\n  \"ETH\": {\n    \"total\": 74,\n    \"bullish\": 31,\n    \"bearish\": 31,\n    \"neutral\": 12,\n    \"avg_compound\": -0.0064,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T10:34:34.905090\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        0
      ],
      "id": "bf626947-ead5-447e-87d1-4724a156f2c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -112,
        -112
      ],
      "id": "c9c4eddd-687d-4dc0-a191-4cdd4dbc66a3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Qv88Odi7tNbJrf1R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -64,
        528
      ],
      "id": "2be10a36-145c-4ab4-9207-4bd47d328527",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "Qv88Odi7tNbJrf1R",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "tiap 7am": {
      "main": [
        [
          {
            "node": "baca data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiap 15 menit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analislis sentimen": {
      "main": [
        [
          {
            "node": "Nambah hasil data ke seet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baca data": {
      "main": [
        [
          {
            "node": "analisis data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisis data": {
      "main": [
        [
          {
            "node": "Membuat kesimpulan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat kesimpulan": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "analislis sentimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "analislis sentimen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat kesimpulan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "72d2ac8e-424c-45ec-a2f5-b3627425899c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5df06fd13290af2fa8e5429150de9f9c332b581c1019292577ff8c83814cbde"
  },
  "id": "9b28I49vpamd7vJb",
  "tags": []
}