Tugas J.son/Tugas 5 implementasi AI keuangan.json
{
  "name": "Tugas 5 implementasi AI keuangan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        -32
      ],
      "id": "623e91dc-eecd-47e6-a04a-6585616ba3b5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -512,
        -128
      ],
      "id": "a6e95eaa-8930-4afd-ad9a-a167c6e7938c",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://www.cnnindonesia.com/ekonomi/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -512,
        96
      ],
      "id": "3062e647-67e8-4d66-9754-24be28043a96",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        -16
      ],
      "id": "a04ecaeb-3c1e-4e8e-ad9d-0dc9f8f16d12",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "a9330c0a-8376-469f-97da-64b472b9804f",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        0
      ],
      "id": "badb00b2-db9d-45a1-9a3f-8e74bc0f3529",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -672,
        352
      ],
      "id": "52044f81-5e1a-4fae-b5d4-b115cb064a54",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -496,
        352
      ],
      "id": "0fdac9ff-7b33-4feb-81d0-43760935215f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berikut adalah 10 berita artikel keuangan teratas \n {{ $json.text }}\n\nberdasarkan berita diatas tolong ringkas 5 berita utama tentang keuangan  hari ini dan tolong kasih berita yang paling menarik ",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -352,
        352
      ],
      "id": "fa20c01b-cd27-4a0a-9c50-25363970c197",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        224
      ],
      "id": "9af57095-26de-41f0-80b0-b7010d05599e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QgOHKF6ImKPoDrYe",
          "name": "n8n-testing"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1433602326",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        352
      ],
      "id": "32663684-d52a-4984-9136-97b2f593eff4",
      "name": "Send a text message",
      "webhookId": "cbe546db-53ab-44e2-bf47-4a2a55a5acf9",
      "credentials": {
        "telegramApi": {
          "id": "bswwkAX6YitVs2QV",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8cd81ac7-96b0-4ba9-9831-1fcd1b971d9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5df06fd13290af2fa8e5429150de9f9c332b581c1019292577ff8c83814cbde"
  },
  "id": "ZIMNV6EViXWLe2C8",
  "tags": []
}