Tugas J.son/Tugas AI SDM/Tugas 6 Implementasi ai SDM json/Approval Handler.json
{
  "name": "Approval Handler",
  "nodes": [
    {
      "parameters": {
        "path": "approval-handler",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1504,
        -64
      ],
      "id": "2008ad92-b83d-4df3-be1d-0272e68cc7b6",
      "name": "Webhook",
      "webhookId": "b8fd0451-f79e-4e4c-85ac-02607bb3efda"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2635924e-a888-4adb-b60b-bbdc396baff6",
              "leftValue": "={{ $json.query.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        -64
      ],
      "id": "fdf6538a-ff11-41ca-8b09-f01de2c87fbd",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0",
          "mode": "list",
          "cachedResultName": "Data Laporan Cuti ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1104,
        -176
      ],
      "id": "73a2c7a1-b762-4866-94e4-edd81be358e7",
      "name": "Cari Data Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GxEFiAxejqi2qmb2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0",
          "mode": "list",
          "cachedResultName": "Data Laporan Cuti ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Saldo_Cuti": "={{ $json.newBalance }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama_Lengkap",
              "displayName": "Nama_Lengkap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saldo_Cuti",
              "displayName": "Saldo_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager_Email",
              "displayName": "Manager_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        -176
      ],
      "id": "cfb9ca28-0952-44f0-a904-a322a83c32ae",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GxEFiAxejqi2qmb2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil data dari Webhook (Node paling awal)\n// Kita butuh 'days' (jumlah hari cuti) yang dikirim lewat URL\nconst webhookData = $('Webhook').first().json.query;\nconst daysRequested = parseInt(webhookData.days);\n\n// 2. Ambil data dari Google Sheets (Node sebelumnya)\n// Kita butuh 'Saldo_Cuti' saat ini\nconst currentData = items[0].json;\nconst currentBalance = parseInt(currentData.Saldo_Cuti);\n\n// 3. Hitung Saldo Baru\nconst newBalance = currentBalance - daysRequested;\n\n// 4. Return data untuk update\nreturn [{\n  json: {\n    ...currentData, // Bawa semua data lama (termasuk row_number)\n    newBalance: newBalance\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -176
      ],
      "id": "5ec0fd07-919c-44c4-92a0-523faf0725e3",
      "name": "update saldo cuti"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0",
          "mode": "list",
          "cachedResultName": "Data Laporan Cuti ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1973185771,
          "mode": "list",
          "cachedResultName": "Log Pengajuan ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0/edit#gid=1973185771"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_ Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Approved"
          },
          "matchingColumns": [
            "ID_ Request"
          ],
          "schema": [
            {
              "id": "ID_ Request",
              "displayName": "ID_ Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan ",
              "displayName": "Email_Karyawan ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        -176
      ],
      "id": "713d8094-2188-4275-a0fc-11224355ed40",
      "name": "update log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GxEFiAxejqi2qmb2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Berhasil!! Pengajuan cuti sudah di setujui dan saldo cuti telah otomatis Di Setujui ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -304,
        -176
      ],
      "id": "a7fad887-a5fc-46f9-9959-15311261e280",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.query.email }}",
        "subject": "Pengajuan Cuti Di Setujui ",
        "message": "=Halo,  Kabar baik! Pengajuan cuti Anda telah DISETUJUI oleh Manager.  Detail: - Durasi: {{ $('Webhook').item.json.query.days }} Hari - Status: APPROVED - Saldo Cuti: Telah dipotong otomatis.  Terima kasih, HR System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -112,
        -160
      ],
      "id": "f812413c-145a-4a40-9abc-d193efbe8097",
      "name": "Cuti Diterima",
      "webhookId": "72386fb4-d191-410f-bb55-90005bb212f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "mEZKk6JWQY7a7VU8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.query.email }}",
        "subject": "Pengajuan Cuti Di Tolak",
        "message": "=Halo,\n\nMohon maaf, pengajuan cuti Anda untuk durasi {{ $('Webhook').item.json.query.days }} hari telah DITOLAK oleh Manager.\n\nSilakan hubungi atasan Anda untuk diskusi lebih lanjut.\nSalam,\nHR System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1040,
        0
      ],
      "id": "e81bda98-4b76-4d21-af4b-9406074e5be1",
      "name": "Cuti Ditolak",
      "webhookId": "72386fb4-d191-410f-bb55-90005bb212f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "mEZKk6JWQY7a7VU8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Konfirmasi : Pengajuan cuti ditolak Tidak ada pengurangan Saldo Cuti ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -832,
        0
      ],
      "id": "ae4fd20c-559a-4671-a9e5-917dbab8df08",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0",
          "mode": "list",
          "cachedResultName": "Data Laporan Cuti ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1973185771,
          "mode": "list",
          "cachedResultName": "Log Pengajuan ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DId-hYJCoSz8LsnHQRKOQ6o-UzwFRRfmW94q6EvTqF0/edit#gid=1973185771"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_ Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Rejected"
          },
          "matchingColumns": [
            "ID_ Request"
          ],
          "schema": [
            {
              "id": "ID_ Request",
              "displayName": "ID_ Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan ",
              "displayName": "Email_Karyawan ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        0
      ],
      "id": "0f65e517-f7b9-40e2-be48-dc2377b0fb48",
      "name": "update log1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GxEFiAxejqi2qmb2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cari Data Karyawan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti Ditolak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Data Karyawan": {
      "main": [
        [
          {
            "node": "update saldo cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update saldo cuti": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "update log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Cuti Diterima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti Ditolak": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "update log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8fea08c9-f666-4321-a964-1cb605f0c248",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5df06fd13290af2fa8e5429150de9f9c332b581c1019292577ff8c83814cbde"
  },
  "id": "JaeOvj1U0Wd3hORI",
  "tags": []
}